body{
  background-image: url('../image/cafe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
}

label{
  color: white;
}

h2{
  color: white;
}

h4{
  color: white;
}

.container1{
  margin-left: 260px;
}

.form-control {
  border-radius: 50px;
}
#username{
  border-radius: 0 50px 50px 0;

}

.input-group-text{
border-radius:  50px 0 0 50px;
}
